<?xml version="1.0"?>
<launch>
  <!-- Six independent Gazebo models in a deliberately non-coplanar layout. -->
  <param name="cal_marker_01_description" command="$(find xacro)/xacro '$(find gazebo_sim_camera)/urdf/calibration_marker.urdf.xacro' model_name:=cal_marker_01 color:='1 0.1 0.1 1' gazebo_material:=Gazebo/Red"/>
  <param name="cal_marker_02_description" command="$(find xacro)/xacro '$(find gazebo_sim_camera)/urdf/calibration_marker.urdf.xacro' model_name:=cal_marker_02 color:='0.1 1 0.1 1' gazebo_material:=Gazebo/Green"/>
  <param name="cal_marker_03_description" command="$(find xacro)/xacro '$(find gazebo_sim_camera)/urdf/calibration_marker.urdf.xacro' model_name:=cal_marker_03 color:='0.1 0.3 1 1' gazebo_material:=Gazebo/Blue"/>
  <param name="cal_marker_04_description" command="$(find xacro)/xacro '$(find gazebo_sim_camera)/urdf/calibration_marker.urdf.xacro' model_name:=cal_marker_04 color:='1 0.9 0.1 1' gazebo_material:=Gazebo/Yellow"/>
  <param name="cal_marker_05_description" command="$(find xacro)/xacro '$(find gazebo_sim_camera)/urdf/calibration_marker.urdf.xacro' model_name:=cal_marker_05 color:='1 0.1 1 1' gazebo_material:=Gazebo/Purple"/>
  <param name="cal_marker_06_description" command="$(find xacro)/xacro '$(find gazebo_sim_camera)/urdf/calibration_marker.urdf.xacro' model_name:=cal_marker_06 color:='0.1 1 1 1' gazebo_material:=Gazebo/Turquoise"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_cal_marker_01" args="-urdf -param cal_marker_01_description -model cal_marker_01 -x 2.0 -y -1.2 -z 0.6"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_cal_marker_02" args="-urdf -param cal_marker_02_description -model cal_marker_02 -x 2.2 -y 1.3 -z 0.8"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_cal_marker_03" args="-urdf -param cal_marker_03_description -model cal_marker_03 -x 3.2 -y -1.4 -z 2.2"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_cal_marker_04" args="-urdf -param cal_marker_04_description -model cal_marker_04 -x 3.4 -y 1.4 -z 2.6"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_cal_marker_05" args="-urdf -param cal_marker_05_description -model cal_marker_05 -x 4.3 -y -0.4 -z 1.4"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_cal_marker_06" args="-urdf -param cal_marker_06_description -model cal_marker_06 -x 4.6 -y 0.8 -z 2.0"/>
</launch>
